#introduce-session {
    background: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 600px;
    position: relative;
}

.page-front {
    transform: rotate(180deg);
}

.introduce {
    & .containt{
        padding:  200px 0 150px 0;
    }
    & .heading{
        & h3{
            font-weight: 400;
            font-size: 30px;
            letter-spacing: 5px;
        }
        & span {
            font-family: $jp-font;
            font-weight: 700;
        }
        & h1 {
            padding-top: 10px;
            padding-bottom: 30px;
        }
    }
    & ul {
        padding-left: 40px;
        padding-top: 20px;
    }
    & li {
        width: 70%;
        font-weight: 400;
        font-size: 24px;
        padding-bottom: 10px;
        line-height: 40px;
        text-align: justify;
        font-family: $sub-font;
    }
}
