// color
$primary-color: #E08181;
$sub-primary-color: #6FB5CF;
$third-primary-color: #EAA6A6;
$text-color: #fff;
$sub-text-color: #000;
$text-high-color: #294a62;
$font: 'Lato', sans-serif;
$sub-font: 'Open Sans', sans-serif;
$jp-font: 'Noto Serif JP', serif;