html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input, textarea, section, button {
  outline: none;
}

input {
  line-height: normal;
}

label, button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.wraper {
  max-width: 85%;
  margin: 0 auto;
}

body {
  line-height: 1;
  color: white;
  font-family: "Lato", sans-serif;
  min-width: 740px;
}

.none {
  display: none;
}

.page-back {
  background: url(../../img/back_blur/back_blur.png) no-repeat;
  background-size: cover;
  height: 100px;
}

.heading h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.line {
  width: min(100%, 740px);
  height: 2.5px;
  background: #FFFFFF;
  border-radius: 4px;
  margin: 50px 0;
}

#home-session {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 100%), url("../../img/header/header-back.png") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 600px;
  position: relative;
}

.header {
  height: 120px;
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.btn-drop {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  font-size: 18px;
  font-weight: 700;
  color: #294a62;
}
.btn-drop:hover {
  opacity: 0.8;
}

.drop-menu {
  position: absolute;
  list-style-type: none;
  padding-top: 10px;
  padding-left: 3px;
}
.drop-menu li {
  height: 30px;
}
.drop-menu li a {
  color: #294a62;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.9;
}
.drop-menu li:hover {
  opacity: 0.6;
}

.btn-drop:hover .drop-menu {
  display: block;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
}
.navbar ul a {
  color: #294a62;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.navbar ul a:hover {
  opacity: 0.8;
}

.home-main {
  padding: 80px 0px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-main h1 {
  text-align: center;
  font-size: 120px;
  padding: 10px;
  font-family: "Noto Serif JP", serif;
}
.home-main h2 {
  text-align: center;
  padding: 15px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;
}
.home-main button {
  margin-top: 60px;
  display: inline-block;
  width: 250px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.85);
  border: transparent;
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}
.home-main button a {
  color: #294a62;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.home-down-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.home-down-btn a {
  display: inline-block;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: white;
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  line-height: 22px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  height: 30px;
}
.home-down-btn i {
  font-size: 20px;
  line-height: 22px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

#introduce-session {
  background: url("../../img/introduce/background-blur.png"), linear-gradient(to bottom, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%), url("../../img/introduce/introduce-back.png") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 600px;
  position: relative;
}

.page-front {
  transform: rotate(180deg);
}

.introduce .containt {
  padding: 200px 0 150px 0;
}
.introduce .heading h3 {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 5px;
}
.introduce .heading span {
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
}
.introduce .heading h1 {
  padding-top: 10px;
  padding-bottom: 50px;
}
.introduce ul {
  padding-left: 40px;
  padding-top: 40px;
}
.introduce li {
  width: 700px;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
}

#explore-session {
  background: url("../../img/introduce/background-blur.png"), linear-gradient(to bottom, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0.35) 100%), url("../../img/explore/explore-back.png") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 600px;
  position: relative;
}

.explore .containt {
  padding: 100px 40px 100px 40px;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
}
.explore .content {
  width: max(580px, 50% - 50px);
}
.explore .content h1 {
  padding-top: 10px;
  color: black;
}
.explore .content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-align: justify;
  letter-spacing: 1px;
  color: black;
}
.explore .content .line {
  background-color: black;
}
.explore .content-main {
  min-height: 300px;
}

.img-slide {
  width: 650px;
  height: 580px;
}
.img-slide input {
  display: none;
}

.image-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 550px;
  perspective: 1000px;
  overflow: hidden;
}
.image-area .item {
  position: absolute;
  width: 350px;
  height: 500px;
  top: 0;
  transition: transform 0.4s;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  user-select: none;
  cursor: pointer;
}
.image-area .item div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.image-area .item #img-1-show {
  background-image: url(../../img/explore/Picture1.png);
}
.image-area .item #img-2-show {
  background-image: url(../../img/explore/Picture2.png);
}
.image-area .item #img-3-show {
  background-image: url(../../img/explore/Picture3.png);
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots label {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(26, 26, 26, 0.393);
  margin: 0 20px;
  transition-duration: 0.2s;
}

#img-1:checked ~ .dots label[for=img-1],
#img-2:checked ~ .dots label[for=img-2],
#img-3:checked ~ .dots label[for=img-3] {
  transform: scale(1.8);
  background-color: rgba(26, 26, 26, 0.6);
  box-shadow: 0px 0px 0px 3px rgba(221, 221, 221, 0.1411764706);
}

#img-1:checked ~ .dots label[for=img-2],
#img-2:checked ~ .dots label[for=img-1],
#img-2:checked ~ .dots label[for=img-3],
#img-3:checked ~ .dots label[for=img-2] {
  transform: scale(1.5);
}

#img-1:checked ~ .image-area label[for=img-1],
#img-2:checked ~ .image-area label[for=img-2],
#img-3:checked ~ .image-area label[for=img-3] {
  z-index: 3;
}

#img-1:checked ~ .image-area label[for=img-3],
#img-2:checked ~ .image-area label[for=img-1],
#img-3:checked ~ .image-area label[for=img-2] {
  transform: translate3d(500px, 0, -180px) rotateY(-25deg);
  z-index: 1;
  scale: 0.8;
}

#img-1:checked ~ .image-area label[for=img-2],
#img-2:checked ~ .image-area label[for=img-3],
#img-3:checked ~ .image-area label[for=img-1] {
  transform: translate3d(200px, 0, -180px) rotateY(-25deg);
  z-index: 2;
}

.character {
  background: #E08181;
}
.character .containt {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 10px;
  padding-right: 10px;
}

.character-content {
  width: 55%;
}
.character-content h3, .character-content h1 {
  text-align: center;
  padding: 10px;
}
.character-content p {
  padding-top: 90px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: #FFFFFF;
}

.character-img {
  width: 45%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.character-img model-viewer {
  width: 100%;
  padding-top: 100px;
  height: 600px;
}
.character-img p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
  padding-top: 20px;
}

.experience {
  width: 45%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience-canvas {
  width: 100%;
  padding-top: 100px;
  height: 600px;
}

.review {
  width: 100%;
  background: url(../../img/review/Backgound.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
}

.review-header {
  padding-top: 175px;
  height: 450px;
  display: flex;
  justify-content: space-between;
}

.header-blank {
  width: 55%;
  height: 100%;
}
.header-content {
  width: 30%;
  height: 100%;
}
.header-content h3 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.header-content h1 {
  padding: 15px 0;
}
.header-content .line {
  padding: 0 0;
  margin: 0;
  margin-top: 5px;
  width: 300px;
}

.review-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.review-btn {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.review-btn .sort-btn {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.review-btn .sort-btn p {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.review-btn .sort-btn select {
  width: 150px;
  height: 35px;
  padding: 5px;
  border-color: transparent;
  border-radius: 6px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.453);
  font-family: "Lato", sans-serif;
  font-size: 12px;
}
.review-btn .cmt-btn button {
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  font-size: 14px;
  color: white;
  background-color: #2D3648;
  border-radius: 6px;
  border-color: transparent;
}

.review-main {
  height: 220px;
  width: 100%;
  margin: 25px 0;
  margin-bottom: 100px;
  position: relative;
}
.review-main .main {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  transition-property: transform;
  box-sizing: content-box;
}
.review-main .main .review-box {
  flex-shrink: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  transition-property: transform;
  transition: transform 0.4s;
}
.review-main .main .main-box {
  border-bottom-left-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.review-main .main .main-box h4 {
  color: #633939;
  font-size: 18px;
  line-height: 26px;
}
.review-main .main .main-box .main-box-star {
  padding: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.review-main .main .main-box .box-star {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  width: 40px;
}
.review-main .main .main-box .main-back {
  background-color: #E08181;
  height: 100%;
  width: 100%;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: rgb(243, 243, 243);
}
.review-main .main .main-box .main-back i {
  width: 100%;
}
.review-main .main .main-box h3 {
  color: #633939;
  font-weight: 200;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 1px;
}
.review-main .main .main-box .bold {
  font-weight: 700;
}
.review-main .main .main-box .line {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #633939;
  width: 70px;
  height: 2px;
}
.review-main .main .main-box h5 {
  color: #633939;
  font-size: 12px;
  line-height: 20px;
  font-weight: 200;
  text-transform: lowercase;
  letter-spacing: 1.5px;
}

.back-btn, .next-btn {
  position: absolute;
  color: white;
  font-weight: 1000;
  font-size: 50px;
  line-height: 220px;
  overflow: none;
  background-color: transparent;
  border-color: transparent;
}
.back-btn:hover, .next-btn:hover {
  opacity: 0.5;
}

.back-btn {
  top: 50%;
  left: -75px;
}

.next-btn {
  top: 50%;
  right: -75px;
}

.pagination {
  bottom: -10px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -40px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}
.swiper-pagination-bullet:hover {
  opacity: 0.65;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: white;
}

.review-box-header {
  padding: 11px 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review-box-header .review-box-star {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.review-box-header .review-box-star .box-star {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 20px;
  width: 20px;
  background-color: #E08181;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: white;
}
.review-box-header .review-box-star .box-star i {
  width: 100%;
}
.review-box-header .review-box-date {
  font-family: "Open Sans", sans-serif;
  color: #633939;
  font-size: 12px;
  line-height: 20px;
  width: 50%;
  text-align: right;
  letter-spacing: 1px;
}

.review-box-content {
  padding: 0 20px;
  color: #633939;
}
.review-box-content h2 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 1px;
}
.review-box-content p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 200;
  width: 100%;
  text-align: justify;
}
.review-box-content .line {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #633939;
  width: 70px;
  height: 0.75px;
}
.review-box-content button {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline solid #633939;
  font-weight: 200;
  font-size: 10px;
}

/*# sourceMappingURL=style.css.map */
